DATABASE_URL=postgresql://listcy:listcy@postgres:5432/listcydb

ORIGIN="http://localhost:3000"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET="Xt73eo/qC5exRxpW9BZLVqlMNIEwKwxJulAFb/sYC6Y="
# GitHub OAuth
# https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
